* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

section {
    max-width: 1024px;
    /* width: 1024px; */
    border: 1px solid red;
}

/* nav */
.desktop-nav-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* projects */
.project-title {
    text-align: center;
}

.project-left-title {
    display: flex;
    align-items: center;
}
.project-left-title h3 {
    margin-left: 5px;
}
.project-left-description p, .project-left-description ul li {
    text-align: justify;
    width: 450px;
}

.project-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 5px 0px;
    border-radius: 20px;
    width: 120px;
}

.project-buttons {
    display: flex;
}

.project-button-wrap div {
    margin-left: 5px;
}




@media (max-width: 1024px) {
    
}