@font-face {
    font-family: headers;
    src: url(fonts/Inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: paragraphs;
    src: url(fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: semibold;
    src: url(fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, h2, h1 {
    font-family: headers;
}

h2, h1 {
    font-size: 28px;
}

p, a, li {
    font-family: paragraphs;
    font-size: 13px;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.semibold {
    font-family: semibold;
}

section {
    max-width: 1024px;
    /* width: 1024px; */
    border: 1px solid red;
}

/* nav */
.desktop-nav-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-wrap img {
    width: 100px;
}

/* hero */
.hero-card {
    box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
-webkit-box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
-moz-box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
border: 1px solid white;
border-radius: 20px;
padding: 30px 20px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
backdrop-filter: blur(20px); /* Applies the blur effect */
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-wrap {
    display: flex;
}

.hero-wrap video {
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
}

.hero-right, .hero-left {
    width: 50%;
}

.hero-right {
    display: flex;
    align-items: center;
    
}

.ball-1 {
    position: relative;
    left: 50px;
    top: 20%;
}

.hero-button {
    background: white;
    color: black;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
}

/* projects */
.projects-wrap {
    margin: 50px 0px;
    width: 90%;
}

.project-wrap {
    /* padding: 20px; */
}

.project-title {
    text-align: center;
    margin-bottom: 20px;
}

.project-title h2 {
    font-size: 20px;
}
.projects-title p {
    margin-top: 12px;
}
.project-brief {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.project-left-title {
    display: flex;
    align-items: center;
    margin: 10px 0px 5px 0px;
}

.project-left-title img {
    width: 18px;
}
.project-left-title h3 {
    margin-left: 5px;
    font-size: 16px;
}
.project-left-description p, .project-left-description ul li {
    text-align: justify;
    width: 100%;
}

.project-left {
    width: 40%;
}

.project-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.project-buttons {
    margin-top: 15px;
}

.project-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 5px 0px;
    border-radius: 20px;
    width: 120px;
    margin: 0px 10px;
}

.project-button-wrap img {
    width: 20px;
}

.project-buttons {
    display: flex;
}

.project-button-wrap div {
    margin-left: 5px;
}

.project-top {
    display: flex;
    align-items: center;
}

.project-img {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.slider {
    display: flex;
    width: 100%; /* Adjust depending on the number of slides */
}

.slider img {
    flex-shrink: 0; /* Prevents images from shrinking */
    width: 100%; /* Ensures each image takes up the full width of the slider container */
}

.arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #20262F;
    border-radius: 40px;
}

.experience-wrap {
    background-color: #20262F;
    padding: 10px;
    border-radius: 15px;
}

.experience-wrap h3 {
    font-size: 16px;
}

.cv-description-wrap h2 {
    font-size: 20px;
}

@media (max-width: 1024px) {
    
}