@font-face {
    font-family: headers;
    src: url(fonts/Inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: paragraphs;
    src: url(fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: semibold;
    src: url(fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, h2, h1 {
    font-family: headers;
}

h2, h1 {
    font-size: 28px;
}

p, a, li {
    font-family: paragraphs;
    font-size: 13px;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.semibold {
    font-family: semibold;
}

section {
    max-width: 1024px;
    /* width: 1024px; */
    border: 1px solid red;
}

/* nav */
.desktop-nav-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-wrap img {
    width: 100px;
}

/* hero */
.hero-card {
    box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
-webkit-box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
-moz-box-shadow: 0px -6px 18px 1px rgba(255,255,255,0.43) inset;
border: 1px solid white;
border-radius: 20px;
padding: 30px 20px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.hero-button {
    background: white;
    color: black;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
}

/* projects */
.project-title {
    text-align: center;
}

.project-title h2 {
    font-size: 20px;
}

.project-left-title {
    display: flex;
    align-items: center;
}
.project-left-title h3 {
    margin-left: 5px;
    font-size: 16px;
}
.project-left-description p, .project-left-description ul li {
    text-align: justify;
    width: 450px;
}

.project-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 5px 0px;
    border-radius: 20px;
    width: 120px;
}

.project-buttons {
    display: flex;
}

.project-button-wrap div {
    margin-left: 5px;
}




@media (max-width: 1024px) {
    
}